.a{
	width: 1000px;
	margin: auto;
}
body{background-color: #99FF00;}
img{
	width:100%;
}
h1,a{
	text-decoration: none;
	text-align: center;
}
.cơm div{
	float: left;
	width:33.333%;
	text-align: center;
}
.cơm div img{
	height: 208px;
}
.cơm div a{
		font-size:20px;
	}